/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", sans-serif;
  --bg-color: #000000;
  --grad:#000000;
  --accent-color: #00cc14;
  --font-weight-text: 465;
  --font-weight-title: 785;
  --text-color: #00cc14;
  --light-grad:#007f0c;
  --dark-grad:#004306;
  --sparks-color: #ff0000;
  --background-image: repeating-linear-gradient(90deg, var(--grad, #000000), var(--grad, #000000) 2px, transparent 2px, transparent 4px),
  repeating-linear-gradient(180deg, var(--grad, #000000), var(--grad, #000000) 2px, transparent 2px, transparent 4px),
  linear-gradient(180deg, var(--light-grad, #007f0c), var(--dark-grad,#004306));
}

@media (prefers-color-scheme: theme-dark) {
  :root {
    --main-font: "Inter-Variable", sans-serif;
    --accent-font: "PressStart2P", sans-serif;
    --bg-color: #000000;
    --grad:#000000;
    --accent-color: #00cc14;
    --font-weight-text: 465;
    --font-weight-title: 785;
    --text-color: #00cc14;
    --light-grad:#007f0c;
    --dark-grad:#004306;
    --sparks-color: #ff0000;
    --background-image: repeating-linear-gradient(90deg, var(--grad, #000000), var(--grad, #000000) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(180deg, var(--grad, #000000), var(--grad, #000000) 2px, transparent 2px, transparent 4px),
    linear-gradient(180deg, var(--light-grad, #007f0c), var(--dark-grad,#004306));
  }
}

@media (prefers-color-scheme: theme-light) {
  :root {
    --main-font: "Inter-Variable", sans-serif;
    --accent-font: "PressStart2P", sans-serif;
    --bg-color: #FFFFFF;
    --accent-color: #000000;
    --font-weight-text: 400;
    --font-weight-title: 700;
    --text-color: #FFFFFF;
    --sparks-color: #ff0000;;
    --grad:#d3d3d3;
    --light-grad:#e7e7e7;
    --dark-grad:#1a1a1a;
    --background-image: repeating-linear-gradient(90deg, var(--grad, #d3d3d3), var(--grad, #d3d3d3) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(180deg, var(--grad, #d3d3d3), var(--grad, #d3d3d3) 2px, transparent 2px, transparent 4px),
    linear-gradient(180deg, var(--light-grad, #e7e7e7), var(--dark-grad,#1a1a1a));
  }
}